@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'my-font';
  src: url('/public/fonts/font2.ttf')format('ttf');
  font-weight: 500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C3531;
    --foreground: #FFCB9A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "my-font";
}